<!-- <header class="mobile-header">
  <img src="assets/apt3mnewlogo.png" alt="Apt3M Logo" class="mobile-hero-logo" />
  <button class="hamburger" (click)="toggleMobileMenu()">☰</button>
</header>
<div class="floating-menu" [ngClass]="{ 'show': isMenuOpen }">
  <a routerLink="/features"><i class="icon">ℹ️</i> Features</a>
  <a routerLink="/pricing"><i class="icon">💲</i> Pricing</a>
  <a routerLink="/support"><i class="icon">🛠️</i> Support</a>
  <a routerLink="/contact"><i class="icon">📞</i> Contact</a>
  <a routerLink="/login" class="highlight"><i class="icon">🔓</i> Login</a>
</div>

<div class="mobile-login-hero">
  <div class="mobile-hero-gradient">
    <h1>Manage Your<br>Apartment with Ease</h1>
    <p>Streamline announcements, payments, and more – all in one app.</p>
  </div>

  <div class="mobile-login-buttons">
    <a routerLink="/enrollment" class="btn-mobile-primary">Register Apartment</a>
    <a routerLink="/login" class="btn-mobile-secondary">Download App</a>
  </div>

  <footer class="mobile-footer">
    <p>&copy; 2025 Apt3M. All rights reserved.</p>
    <p>
      <a href="#">Privacy Policy</a> |
      <a href="#">Terms of Use</a> |
      <a href="#">Contact Us</a>
    </p>
  </footer>
</div> -->
